{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
  <html>
    <head>
      <title>Attribute Collection</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    </head>
    <body id="class">
      <div class="testbox">
        <form action="/">
          <h1>Attribute Collection</h1>
          <p>You must input at least a first and last name in order for us to compare reports for the same perpetrator.</p>
          <h4>First Name:</h4>
            <textarea rows="1" class="text"></textarea>
          <h4>Last Name:</h4>
              <textarea rows="1" class="text"></textarea>
          <h4>Add Social Media Identifiers (Optional):</h4>
              <p><textarea rows="1" placeholder="Instagram Handle" class="text"></textarea></p>
              <p><textarea rows="1" placeholder="Facebook URL" class="text"></textarea></p>
              <p><textarea rows="1" placeholder="Snapchat Username" class="text"></textarea></p>
              <p><textarea rows="1" placeholder="Phone Number" class="text"></textarea></p>
            <br>
          <h3>Physical Characteristics:</h3>
          <h4>Gender:</h4>
          <select class="text">
            <option value=""></option>
            <option value="">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
          </select>
          <h4>Height:</h4>
          <select class="text">
            <option value="" ></option>
            <option value="">4'11"-</option>
            <option value="">5'0" - 5'2"</option>
            <option value="2">5'3"- 5'5"</option>
            <option value="3">5'6" - 5'8"</option>
            <option value="4">5'9" - 6'1"</option>
            <option value="5">6'2" - 6'4"</option>
            <option value="6">6'5" - 6"7</option>
            <option value="7">6'8" - 6'10"</option>
            <option value="">6'11" - 7'0"</option>
            <option value="8">7'1"+</option>
          </select>
          <h4>Eye Color:</h4>
          <select class="text">
            <option value=""></option>
            <option value="">Black</option>
            <option value="2">Green</option>
            <option value="3">Blue</option>
            <option value="4">Brown</option>
          </select>
          <h4>Hair Color:</h4>
          <select class="text">
            <option value=""></option>
            <option value="">Black</option>
            <option value="2">Brown</option>
            <option value="4">Light Brown</option>
            <option value="3">Blonde</option>
            <option value="4">Light Blonde</option>
          </select>
          <h4>Ethnicity:</h4>
          <select class="text">
            <option value=""></option>
            <option value="">American Indian or Alaskan Native</option>
            <option value="2">Asian or Pacific Islander</option>
            <option value="4">Black</option>
            <option value="3">White</option>
            <option value="4">Hispanic</option>
          </select>
          <form>
            <br><br>
            <!-- This is a decision -->
              <button type="submit" formaction="/match">Submit</button>
          </form>
        </form>
      </div>s
    </body>
  </html>
