{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <title>General Information</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="testbox">
      <form action="/" method="post">
        {% csrf_token %}
        <h1>General information</h1>
        <h4>What type of sexual misconduct/assault?<span>*</span></h4>
        <select for="case_type">
          <option value="">--Select Type of Sexual Harassment--</option>
          <option value="">Staring/Leering</option>
          <option value="2">Comments/Gestures: Asking Personal Questions</option>
          <option value="3">Comments/Gestures: Comments about appearance</option>
          <option value="4">Comments/Gestures: Flirting</option>
          <option value="5">Comments/Gestures: Explicit Gestures or Comments</option>
          <option value="6">Indecent Photography Without Consent</option>
          <option value="7">Indecent Unsolicited Content</option>
          <option value="8">Verbal Threat of Sexual Assault</option>
          <option value="9">Attempted Non-Consensual Touching</option>
          <option value="10">Non-Consensual Touching</option>
          <option value="11">Attempted Non-Consensual Kissing</option>
          <option value="12">Non-Consensual Kissing</option>
          <option value="13">Attempted Non-Consensual Penetration</option>
          <option value="14">Non-Consensual Penetration</option>
        </select>
        <label>Date of Occurrence:</label>
        <input for="id_date" type="month" id="start" name="start"
       min="2000-01" value="YYYY-MM">
        <h4>Additional information</h4>
        <p class="small">Use this space to input any additional details.</p>
          <textarea for="id_description" rows="5" style="font-size: 14px;"></textarea>
        <div class="btn-block">
          <button type="submit" formaction="attributes" formmethod="post">Continue</button>
        </div>
      </form>
    </div>
  </body>
</html>
