{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <title>Confidentiality Agreement</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
    <div class="testbox">
      <form action="/">
          {% csrf_token %}
        <h1>Confidentiality Agreement</h1>
          <br><br>
            <h4>All information that you submit in the report will be confidential.
                By agreeing to submit a report, you acknowledge that if another user
                submits a report with the same perpetrator, they (and you) will be
                notified that another case with their perpetrator exists. </h4>

            <h4>After agreeing, you will be directed to authenticate your identity with
                your UW Net ID. We do this in order to make sure the tool is not abused.</h4>
            <br><br>
            <head>
            <script>
              function activateButton(element) {
                  if(element.checked) {
                    document.getElementById("submit").disabled = false;
                   }
                   else  {
                    document.getElementById("submit").disabled = true;
                  }
              }
            </script>
            </head>

            <body>
             <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I Acknowledge the Confidentiality Agreement
            <br><br>
              <input type="submit" name="submit" id="submit" formaction="case" formmethod="post" disabled="true">
            </body>
      </form>
    </div>
  </body>
</html>
