{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="testbox">
      <form action="/">
        <h1>Other people have also had a problematic experience with this person.</h1><br>
        <p>
          If you choose to follow up, a UW confidential advocate will reach out to you to talk about
          your options, including connecting with the other user if they also choose to follow up.
          Confidential advocates are professionals who will provide you with information and guidance
          on deciding how to move forward, if you choose. You can find out more about campus safety
          advocates <a href="https://www.washington.edu/sexualassault/support/advocacy/">here</a>.<br>
        </p>

        <p>
          Be aware that the campus safety advocates will receive no information from our databases
          except your email address, with which to contact you, and the contact information of the
          other user, if they choose to follow up as well.
          We encourage you to follow up, because by getting in touch with a confidential advocate,
          you are not required to move forward with any action. Rather, it is an opportunity to learn
          about your options and other helpful resources.
        </p>
        <h4>Do you want to follow up?</h4>
        <select>
          <option value=""></option>
          <option value="">Yes</option>
          <option value="2">No</option>
        </select><br><br>
            <button type="submit" formaction="resources.html">Submit</button>
      </form>
    </div>
  </body>
</html>
