{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="testbox">
      <form action="/">
        <h1>At this time, we do not have any other documented cases of issues with <br><br> the same perpetrator.</h1><br>
        <p>
          However, if another user submits a report about the same perpetrator, we will contact you
          to let you know. At that time, you will be given the option to follow up, in which case a
          campus safety advocate will reach out to you for support in learning about resources and
          options for moving forward, if you are interested.
        </p><br>
          <h3>Click the button below to find resources:</h3><br>
              <button type="submit" formaction="resources.html">Resources</button>
      </form>
    </div>
  </body>
</html>
